.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-content {
  flex: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background-color: rgba(135, 207, 235, 0.4);
  transition: 0.5s ease;
}

nav h1 {
  font-size: 4rem;
  font-family: 'Major Mono Display', monospace;
  margin: 0;
}

nav ul {
  display: flex;
  gap: 1rem;
  margin: 0;
  font-size: large;
}

nav li {
  display: flex;
  min-width: fit-content;
}

nav li a {
  padding: 1rem;
  text-decoration: none;
  border-radius: 0.2rem;
  transition: 0.2s ease;
  color: black;
  font-size: larger;
  /* background-color: rgba(135, 207, 235, 0.8); */

  &:active {
    transform: scale(0.95);
  }
  &:hover {
    color: #222;
  }
}

.layout-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  text-align: center;
  width: 100%;
  padding: 1rem 0;
  background-color: #f2f2f2;
}
